@import "tailwindcss";
@import "@fontsource/montserrat/index.css";

/* Font Faces */
@font-face {
  font-family: '0xProto';
  src: url('./fonts/0xProto-Regular.woff2') format('woff2'),
       url('./fonts/0xProto-Regular.otf') format('otf'),
       url('./fonts/0xProto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

/* Theme Variables */
@theme {
  --font-montserrat: Montserrat, sans-serif;
  --color-border1: #727272;
  --color-border2: #212121;
  --color-border3: rgba(114, 114, 114, 1);
  --color-border4: rgba(72, 72, 72, 1);
  --color-background1: #171717;
  --color-background2: rgba(71, 71, 71, 0.69);
  --color-background3: #282828;
  --color-titlebar: #212121;
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }
  .bg-pos-0 {
    background-position: 0% 0%;
  }
  .bg-pos-100 {
    background-position: 100% 100%;
  }
}


/* Root Styles */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

/* HTML and Body */
html {
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: none;
  border-top-left-radius: 10px;
}

/* Main Container */
main {
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-grow: 1 !important;
}

.tab {
  margin-right: 0px !important;
}

/* Title Bar */
.title-bar {
  height: 30px !important;
  width: calc(100% - 12px);
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Main Content */
.main-content {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100% - 100px);
}

.full-ass-bar {
  width: calc(100% - 12px);
}

.monaco-editor {
  outline: 0 !important;
}

/* Editor Container */
.editor-container {
  margin: auto;
  margin-top: 35px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #1e1e1e;
  overflow: hidden;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  top: 0;
  left: 0;
  position: relative;
}

/* Button Bar */
.button-bar {
  display: flex;
  margin: auto;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Root and Main Overflow */
#root, main {
  overflow: hidden;
  border-radius: 10px;
}

.extracted-bars {
  width: calc(100% - 220px)
}

/* ----------------------------------------- */

/* Tab Animations */

.tab-closing {
  animation: closeTabAnimation 0.3s ease-out forwards;
}

@keyframes closeTabAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.tab-opening {
  animation: openTabAnimation 0.3s ease-out forwards;
}

@keyframes openTabAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tab {
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.tab:hover {
  transform: scale(1.01);
}




/* ----------------------------------------- */


/* Settings Animations */


@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.settings-enter {
  animation: fadeInScale 0.4s ease-out forwards;
}

.settings-exit {
  animation: fadeOutScale 0.4s ease-in forwards;
}


/* Status Message */

.status-message-enter {
  animation: slide-up 0.3s ease forwards, slide-down 0.3s ease forwards 2.5s;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}




/* From Uiverse.io by TimTrayler */ 
.switch {
  --secondary-container: #84da89;
  --primary: rgba(0, 0, 0, 0.8);
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.4em;
 }
 
 .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.4);
  transition: .2s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
 }
 
 input:checked + .slider::before {
  background-color: var(--primary);
 }
 
 input:checked + .slider {
  background-color: var(--secondary-container);
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
 }
 
 input:checked + .slider:before {
  transform: translateX(1.6em);
 }