@import "tailwindcss";
@import "@fontsource/montserrat/index.css";

@font-face {
  font-family: '0xProto';
  src: url('./fonts/0xProto-Regular.woff2') format('woff2'),
       url('./fonts/0xProto-Regular.otf') format('otf'),
       url('./fonts/0xProto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';

  src: url('./fonts/Montserrat-Regular.ttf');
}

@theme {
  --font-montserrat: Montserrat, sans-serif;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  background: rgba(0, 0, 0, 0.7);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root, html, body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  blur: 2px;
}

main {
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  flex-grow: 1 !important;
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(2px) !important;
  border: 2px solid rgba(255, 255, 255, 0.1);
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

.title-bar {
  height: 30px !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-content {
  padding-top: 0px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.editor-container {
  height: 350px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 45px;
  margin-right: 15px;
  border-radius: 12px;
  background-color: #1e1e1e;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  top: 0;
  left: 0;
}

.button-bar {
  display: flex;
  border-radius: 12px;
  margin: auto;
  margin-top: 2px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* bunch of shit here doesnt even work but since idk what even works ima just let it be */