@import "tailwindcss"; /* idk bruh */
@import "@fontsource/montserrat/index.css";

@font-face {
    font-family: 'Montserrat';
  
    src: url('./fonts/Montserrat-Regular.ttf');
  }
  
@theme {
  --font-montserrat: Montserrat, sans-serif;
  --color-border1: #727272;
  --color-border2: #212121;
  --color-background1: #171717;
}